<h1>Listing element_ranges</h1>

<table>
  <tr>
    <th>Max</th>
    <th>Min</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @element_ranges.each do |element_range| %>
  <tr>
    <td><%= element_range.max %></td>
    <td><%= element_range.min %></td>
    <td><%= link_to 'Show', element_range %></td>
    <td><%= link_to 'Edit', edit_element_range_path(element_range) %></td>
    <td><%= link_to 'Destroy', element_range, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Element range', new_element_range_path %>
